input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.border-transparent {
  border-color: transparent !important;
}

.overFlowAutoY::-webkit-scrollbar {
  width: 6px;
  border-radius: 24px;
}
.overFlowAutoY::-webkit-scrollbar-track {
  border-radius: 24px;
  /* background: #d9d9d9; */
}
.overFlowAutoY::-webkit-scrollbar-thumb {
  border-radius: 24px;
  background: #d2d5d8;
  margin: 10px 2px;
}
.overFlowAutoY::-webkit-scrollbar-thumb:hover {
  border-radius: 24px;
  /* background: #555; */
}

/* ---- */
.overflowXAuto::-webkit-scrollbar {
  height: 4px;
  border-radius: 24px;
}
.overflowXAuto::-webkit-scrollbar-track {
  border-radius: 24px;
  /* background: #d9d9d9; */
}
.overflowXAuto::-webkit-scrollbar-thumb {
  border-radius: 24px;
  background: #d2d5d8;
  margin: 10px 2px;
}
.overflowXAuto::-webkit-scrollbar-thumb:hover {
  border-radius: 24px;
  /* background: #555; */
}
/* ---- */
/* Toggle Container */
.toggle-container {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 24px;
}
.react-datepicker-wrapper {
  display: flex;
}
.toggle-input {
  display: none;
}
.toggle-label {
  background-color: #c8c8c8;
  border-radius: 34px;
  cursor: pointer;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  transition: background-color 0.3s ease;
}
.toggle-label::after {
  content: "";
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 2px 4px 0px #07070740;
  height: 18px;
  left: 3px;
  position: absolute;
  top: 3px;
  transition: transform 0.3s ease;
  width: 18px;
}

.toggle-input:checked + .toggle-label {
  background-color: #7f56d9;
}

.toggle-input:checked + .toggle-label::after {
  transform: translateX(16px);
}
/* ----- */

.animate-spin {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #6366f1;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.PhoneInputCountry {
  display: none !important;
}
.PhoneInputInput:focus-visible {
  border: none;
  outline: none;
}

.gm-style img[alt="Google"],
.gmnoprint,
.gm-style-cc {
  display: none !important;
  opacity: 0 !important;
  z-index: -1 !important;
}

.border-transparent {
  border-color: transparent !important;
}
/* your global css or tailwind override */
.custom-datepicker-wrapper .react-datepicker-wrapper {
  width: 100%;
}

.custom-datepicker-wrapper .react-datepicker-popper {
  z-index: 9999999999 !important;
}
/* ---- */
.overFlowXScroll::-webkit-scrollbar {
  height: 4px;
  position: absolute !important;
  border-radius: 24px;
}
.overFlowXScroll::-webkit-scrollbar-track {
  border-radius: 24px;
  background: #d9d9d9;
}
.overFlowXScroll::-webkit-scrollbar-thumb {
  border-radius: 24px;
  background: #919191;
  margin: 10px 2px;
}
.overFlowXScroll::-webkit-scrollbar-thumb:hover {
  border-radius: 24px;
  background: #919191;
}
.mapboxgl-canvas {
  width: 100% !important;
  height: 100% !important;
}
.mapboxgl-ctrl.mapboxgl-ctrl-scale {
  display: none !important;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
